<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div id="login-alt-container">
                <!-- Title -->
                <h1 class="push-top-bottom">
                    <span style="padding-left:25%">
                      <i class="gi gi-flash"></i> <strong>SEW</strong><br>
                    </span>
                    <small>Chào mừng bạn đến với Smart Entertainment Website</br>
                    Một trải nghiệm tuyệt vời với trang tin tức thông minh</small>
                </h1>
                <ul class="fa-ul text-muted">
                    <li><i class="fa fa-check fa-li text-success"></i> Một trang web cho Tin tức - Âm nhạc - Youtube</li>
                    <li><i class="fa fa-check fa-li text-success"></i> Nhanh chóng &amp; Chính xác</li>
                    <li><i class="fa fa-check fa-li text-success"></i> Tiện lợi &amp; Dễ sử dụng</li>
                    <li><i class="fa fa-check fa-li text-success"></i> Tự do chọn chủ để quan tâm</li>
                    <li><i class="fa fa-check fa-li text-success"></i> Tự tạo playlist nhạc</li>
                    <li><i class="fa fa-check fa-li text-success"></i> Tạo playlist youtube </li>
                    <li><i class="fa fa-check fa-li text-success"></i> .. Và nhiều hơn nữa những điều tuyệt vời</li>
                </ul>
                <footer class="text-muted push-top-bottom">
                    <small><span>2017</span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">SEW 1.0</a></small>
                </footer>
                <!-- END Footer -->
            </div>
        </div>
        <div class="col-md-5">
            <!-- Login Container -->
            <div id="login-container">
                <!-- Login Title -->
                <div class="login-title text-center">
                    <h1><strong>Resend Password</strong></h1>
                </div>
                <div class="block push-bit">
                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
                      html: {id: "form-login", class: "form-horizontal"}) do |f| %>
                      <%= devise_error_messages! %>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                    <%= f.email_field :email, autofocus: true,value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , class: "form-control input-lg" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-8 text-right">
                              <%= f.submit "Send email new confirmation", class: "btn btn-sm btn-primary" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <%= render "devise/shared/links" %>
                            </div>
                        </div>
                    <%end%>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
