<p id="notice"><%= notice %></p>

<h1>Site Cate Groups</h1>

<table>
  <thead>
    <tr>
      <th>News sites</th>
      <th>Cate groups</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_cate_groups.each do |site_cate_group| %>
      <tr>
        <td><%= site_cate_group.news_sites_id %></td>
        <td><%= site_cate_group.cate_groups_id %></td>
        <td><%= link_to 'Show', site_cate_group %></td>
        <td><%= link_to 'Edit', edit_site_cate_group_path(site_cate_group) %></td>
        <td><%= link_to 'Destroy', site_cate_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Cate Group', new_site_cate_group_path %>
