<p id="notice"><%= notice %></p>

<p>
  <strong>News sites:</strong>
  <%= @site_cate_group.news_sites_id %>
</p>

<p>
  <strong>Cate groups:</strong>
  <%= @site_cate_group.cate_groups_id %>
</p>

<%= link_to 'Edit', edit_site_cate_group_path(@site_cate_group) %> |
<%= link_to 'Back', site_cate_groups_path %>
