<div class="breadcrumbs breadcrumbs-light">
  <div class="container">
    <h1 class="pull-left">Trang cá nhân</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="">Profile</a></li>
      <li class="active"><%= current_user.name %></li>
    </ul>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-50">
      <div class="margin-bottom-50">
        <h2 class="title-v4" style="text-align: center;">Ảnh đại diện</h2>
        <div class="blog-thumb-v3" >
          <div class="user-avatar">
            <%= image_tag "user.jpg", class: "img-responsive"%>
          </div>
        </div>
        <hr class="hr-xs">
        <div class="blog-thumb-v3" style="text-align: center;">
          <strong><h4><%=current_user.name%></h4></strong>
          <h3><a href="#">Architects plan to stop skyscrapers from blocking out sunlight</a></h3>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#news" data-toggle="tab" aria-expanded="true">Tin nóng</a></li>
    <li><a href="#site-setting" data-toggle="tab" aria-expanded="true">Thiết lập</a></li>
    <li><a href="#post" data-toggle="tab" aria-expanded="true">Bài viết</a></li>
    <li class=""><a href="#notification" data-toggle="tab" aria-expanded="false">Thông báo</a></li>
    <li class=""><a href="#music-playlist" data-toggle="tab" aria-expanded="false">Tạo playlist nhạc</a></li>
    <li class=""><a href="#video-playlist" data-toggle="tab" aria-expanded="false">Tạo playlist youtube</a></li>
    <li class=""><a href="#change-info" data-toggle="tab" aria-expanded="false">Thay đổi thông tin</a></li>
  </ul>
  <div class="tab-content">
    <!-- Success Forms -->
    <span class="user" data-userid="<%=current_user.id%>"></span>
    <div class="tab-pane fade active in " id="news">
      <div class="col-sm-12">
        <h4>Các Danh mục bạn lựa chọn :</h4>
      </div>
      <%@news.each do |n| %>
        <div class="col-sm-12 over-hidden">
          <p><strong><%= link_to n.title, n.link, target: "_blank" %></strong></p>
          <span style="font-style: italic;">
            <i class="fa fa-user"></i> <%= link_to n.rss_url.news_site.name, n.rss_url.news_site.url, target: "_blank" %>
            <i class="fa fa-tag" style="padding-left: 20px"></i> <%= n.rss_url.category.name %>
          </span>
          <div class="news-description">
            <%= n.description %>
          </div>
        </div>
      <% end %>
      <%= paginate @news, theme: 'twitter-bootstrap-3'%>
    </div>
    <div class="tab-pane fade " id="site-setting">
      <div class="site" style="padding-top: 20px">
        <div class="cate_groups">
          <% user_cate = @user.user_category_groups.pluck(:category_group_id)%>
          <%= form_for @user, html: {class: "form-horizontal"}, remote: true do |f|%>
            Tùy chọn danh mục :
            <div class="form-group choose-cate">
              <% @cate_groups.each do |ctg| %>
                  <%= f.check_box(:category_groups, { :multiple => true, checked: user_cate.include?(ctg.id) }, ctg.id, ) %>
                  <label class="control-label" style="padding-right: 20px"><%=ctg.name%></label>
              <% end %>
            </div>
            <hr class="hr-xs">
          <%end%>
        </div>
      </div>
    </div>
    <!-- End Success Forms -->
    <!-- Error Forms -->
    <div class="tab-pane fade" id="post">
      <%= link_to new_blog_path, class: "btn btn-primary" do %>
        <i class="fa fa-pencil" aria-hidden="true">Tạo bài viết</i>
      <%end%>
    </div>
    <div class="tab-pane fade" id="notification">
    </div>
    <!-- End Error Forms -->
    <!-- Disabled Forms -->
    <div class="tab-pane fade" id="change-info">
      <% provide(:button_text, "Lưu thay đổi") %>
      <%= render "form"%>
    </div>
    <div class="tab-pane fade" id="music-playlist">
    </div>
    <div class="tab-pane fade" id="video-playlist">
    </div>
    <!-- End Disabled Forms -->
  </div>
</div>
    </div>
  </div><!--/end row-->
</div>
<script type="text/javascript">
  $(".choose-cate :checkbox").change(function() {
    if(this.checked) {
      var cate_groups_id = this.value;
      var user_id = $('.user').data('userid');
      var type = "choose";
      $.ajax({
        url: '/users/' + user_id,
        type: 'PUT',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: 'json',
        data: {
          cate_groups_id: cate_groups_id,
          type: type
        },
        success: function (data) {
          debugger
          if(data.type)
            sweetAlert(I18n.t('success'), data.mess, 'success');
          else if(data.not_login)
            window.location.replace('/users/sign_in');
          else
            sweetAlert(I18n.t('error'), data.mess, 'error');
        },
        error: function () {
          response([]);
        }
      });
    }
    else{
      var cate_groups_id = this.value;
      var user_id = $('.user').data('userid');
      var type = "choose";
      $.ajax({
        url: '/users/' + user_id,
        type: 'PUT',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: 'json',
        data: {
          cate_groups_id: cate_groups_id,
          type: type,
          delete: true
        },
        success: function (data) {
          debugger
          if(data.type)
            sweetAlert(I18n.t('success'), data.mess, 'success');
          else if(data.not_login)
            window.location.replace('/users/sign_in');
          else
            sweetAlert(I18n.t('error'), data.mess, 'error');
        },
        error: function () {
          response([]);
        }
      });
    }
});
</script>
