<p id="notice"><%= notice %></p>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>News Feed<br><small>All news!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>News Feeds</li>
  <li><a href="">All news feed</a></li>
</ul>
<div class="block full">
    <div class="table-responsive">
      <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Title</th>
            <th class="text-center">Site</th>
            <th class="text-center">Image</th>
            <th class="text-center">Description</th>
            <th class="text-center">Highlight</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <%@news.each do |new|%>
          <tr>
            <td class="text-center"><%=new.id%></td>
            <td class="text-center"><%= link_to new.title, new.link %></td>
            <td class="text-center"><%= new.site %></td>
            <td class="text-center"><%= raw new.image %></td>
            <td class="text-center"><%= new.description %></td>
            <td class="text-center"><%= new.highlight %></td>
            <td class="text-center">
              <div class="btn-group">
                <%= link_to edit_news_path(new.id), class: "btn btn-xs btn-default" do %><i class="fa fa-pencil"></i><% end %>
                <%= link_to new, method: :delete, data: {confirm: "Bạn có chắc muốn xóa nó?"}, class: "btn btn-xs btn-danger" do %><i class="fa fa-times"></i> <% end %>
              </div>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
        <%= paginate @news, class: "paginate" %>
    </div>
  </div>
<%= link_to 'New News', new_news_path %>
