<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @news.category_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @news.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>

<p>
  <strong>Pubdate:</strong>
  <%= @news.pubDate %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
