<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#list" data-toggle="tab"><%= t "admin.actions.list" %></a></li>
    <li>
      <%= link_to new_admin_category_group_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i><%= t "admin.actions.new" %>
      <% end %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="list">
      <div class="panel panel-red margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i><%=
            t "admin.category_group.all_category_group" %></h3>
        </div>
        <div class="panel-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th><%= t "admin.category_group.name" %></th>
                      <th><%= t "admin.actions.action" %></th>
                  </tr>
              </thead>
              <tbody>
                <% @category_groups.each do |ctg|%>
                  <tr class="ctg-<%=ctg.id%>">
                    <td><%= ctg.id %></td>
                    <td><%= ctg.name %></td>
                    <td>
                      <%= link_to edit_admin_category_group_path(ctg.id), class: "btn btn-xs btn-default" do %><i class="fa fa-pencil"></i> <%= t "admin.actions.edit" %><% end %>
                      <%= link_to admin_category_group_path(ctg), method: :delete, remote: true, data: {confirm: "Bạn chắc chắn muốn xóa ?"},
                        class: "btn btn-danger btn-xs" do %>
                          <i class="fa fa-trash-o"></i><%= t "admin.actions.remove" %>
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
