<p id="notice"><%= notice %></p>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>Category Group Management<br><small>Category group of site!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Category_group</li>
  <li><a href="">All</a></li>
</ul>
<div class="block full">
  <div class="table-responsive">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <%@category_groups.each do |ctg|%>
        <tr>
          <td class="text-center"><%=ctg.id%></td>
          <td class="text-center"><%= ctg.name %></td>
          <td class="text-center">
            <div class="btn-group">
              <%= link_to edit_category_group_path(ctg.id), class: "btn btn-xs btn-default" do %><i class="fa fa-pencil"></i><% end %>
              <%= link_to ctg, method: :delete, data: {confirm: "Bạn có chắc muốn xóa nó?"}, class: "btn btn-xs btn-danger" do %><i class="fa fa-times"></i> <% end %>
            </div>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'New Category Group', new_category_group_path %>
