<section class="site-section site-section-light site-section-top themed-background-dark">
  <div class="container">
    <h1 class="animation-slideDown"><strong>Chủ đề nóng</strong></h1>
    <h2 class="h3 animation-slideUp">Tuần Apec Đà Nẵng 11-16/11/2017!</h2>
  </div>
</section>
<section class="site-content site-section">
  <div class="container">
    <% if @news && @five_news %>
      <div class="row">
        <div class="col-sm-8 col-md-9" style="margin-top: -14px">
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="btn btn-danger" >Tin nóng</a>
              <div class="one-line-block"></div>
              <%@news.each do |new| %>
                <div class="highlight">
                  <div class="col-md-6 image-news">
                    <%= raw new.image %>
                    <span>
                      <%= link_to new.title, new.link, target: "_blank" %>
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-6">
              <a href="#" class="btn btn-danger" >Tin mới nhất</a>
              <div class="one-line-block"></div>
              <ul class="fa-ul ul-breath">
                <%@five_news.each do |new|%>
                  <li><i class="fa fa-angle-right fa-li"></i>
                    <%= link_to new.title, new.link, target: "_blank" %> </br>
                    <span>
                      <i class="fa fa-user"></i> by <%= link_to new.rss_url.news_site.name, new.link %>|| <i class="fa fa-tag"></i> <a href="javascript:void(0)"><%=new.rss_url.category.name%>
                    </span>
                  </li>
                <% end %>
                </ul>
            </div>
          </div>
          <div class="one-line"></div>
          <div class="row" style="padding-top: 15px">
            <div class="col-md-4 block-new">
              <a href="#" class="btn btn-danger" >Khoa Học</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @khoahoc.each do |t| %>
                  <li style="padding-top: 10px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-4 block-new">
              <a href="#" class="btn btn-danger" >Kinh Tế</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @kinhte.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-4 block-new">
              <a href="#" class="btn btn-danger" >Thể thao</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @test.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
              <div class="row">

              </div>
              <div class="row"></div>
            </div>
          </div>
          <div class="one-line" style="padding-top: 5px"></div>
          <div class="row" style="padding-top: 15px">
            <div class="col-md-4 block-new">
              <a href="#" class="btn btn-danger" >Công nghệ</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @test1.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-4 block-new">
              <a href="#" class="btn btn-danger" >Du lịch</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @test.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
              </br>
              <div class="one-line"></div></br>
              <a href="#" class="btn btn-danger">Du lịch</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @test2.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-4 block-new">
              <a href="#" class="btn btn-danger" >Du lịch</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @test3.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
              </br>
              <div class="one-line"></div></br>
              <a href="#" class="btn btn-danger">Du lịch</a>
              <div class="one-line-block"></div>
              <ul class="list-unstyled">
                <% @test3.each do |t| %>
                  <li style="padding-top: 8px"><%= link_to t.title, t.link %>
                    </br>
                    <span style="font-size: 12px; font-style: italic;">
                      <%= t.rss_url.news_site.name %>|<%=time_ago_in_words t.pubDate %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="one-line" style="padding-top: 5px;height: 50px"></div>
        </div>
        <div class="col-sm-4 col-md-3">
          <aside class="sidebar site-block">
            <!-- Search -->
            <div class="sidebar-block">

            </div>
            <div class="sidebar-block">
              <script type="text/javascript">
                epi_id = 'epi-widget-container';
                epi_width = 'auto';
                epi_height = 'auto';
                epi_theme = 'widgetDisplayThemeBlue';
                epi_border = 0;
                epi_target = 0;
                </script>
                <script type="text/javascript" src="http://www.baomoi.com/Widget/JS/Widget.js"></script>
                <script type="text/javascript" src="http://www.baomoi.com/Widget/GenerateJS.aspx?zone=0&count=5&ntype=popular&dtype=2&target=0"></script>
            </div>
            <!-- END Popular and Recent -->
            <!-- About -->
            <div class="sidebar-block">
              <h4 class="site-heading"><strong>About</strong> Us</h4>
              <p>Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices.</p>
            </div>
            <!-- END About -->
          </aside>
        </div>
        <!-- END Sidebar -->
      </div>
    <% end %>
  </div>
</section>
