<div class="wrapper">
  <div class="container content-sm">
    <div class="row">
      <div class="col-md-9 md-margin-bottom-50">
        <!-- Blog Grid -->
        <div class="col-md-12 border-dotted">
          <div class="row">
            <div class="col-md-6">
              <p class="category-title"><span class="btn btn-danger">Tin Nóng</span></p>
              <div class="one-line-block"></div>
              <div class="row">
                <% @news.each do |new| %>
                  <div class="col-md-6 image-news">
                    <%= raw new.image %>
                    <p><strong><%= link_to new.title, new.link, target: "_blank" %></strong></p>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-6">
              <p class="category-title"><span class="btn btn-danger">Tin Mới Nhất</span></p>
              <div class="one-line-block"></div>
              <ul class="fa-ul ul-breath ul-hotnew">
                <% if @five_news.present? %>
                  <% @five_news.each do |new| %>
                    <%if new == @five_news.last %>
                      <li class="over-hidden-newest-last">
                    <% else %>
                      <li class="over-hidden-newest">
                    <%end%>
                        <strong><%= link_to new.title, new.link, target: "_blank" %></strong></br>
                        <span class="pull-left">
                          <i class="fa fa-user"></i> <%= link_to new.rss_url.news_site.name, new.link %>
                        </span>
                        <span class="pull-right">
                          <i class="fa fa-tag"></i> <a href="javascript:void(0)"><%= new.rss_url.category.name %></a>
                        </span>
                      </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <% @cate_groups.each do |c| %>
              <div class="col-md-4">
                <div class="category-news">
                  <p class="category-title"><span class="btn btn-danger"><%=c.name%></span></p>
                  <% get_news_by_category_group(c.id).each do |test| %>
                    <%if test == get_news_by_category_group(c.id).last %>
                      <li class="over-hidden-last">
                    <% else %>
                      <li class="over-hidden">
                    <%end%>
                      <strong><%= link_to test.title, test.link, target: "_blank" %></strong></br>
                      <span class="pull-left">
                        <i class="fa fa-user"></i> <%= link_to test.rss_url.news_site.name, test.link %>
                      </span>
                      <span class="pull-right">
                        <i class="fa fa-clock-o"></i> <span class="time-word"><%= time_ago_in_words test.created_at %></span>
                      </span>
                    </li>
                  <% end %>
                </div>
              </div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Blog Thumb v3 -->
        <div class="margin-bottom-50">
          <h2 class="title-v4">Trình phát nhạc</h2>

          <div class="blog-thumb-v3">
            <% if current_user.present? %>
              <%= raw current_user.user_musics.get_active.first.try(:url)%>
            <% else %>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/278814081&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
            <% end %>
          </div>
        </div>
        <!-- End Blog Thumb v3 -->

        <!-- Social Shares -->
        <div class="margin-bottom-50">
          <h2 class="title-v4">Mạng Xã Hội</h2>
          <ul class="blog-social-shares">
            <li>
              <i class="rounded-x fb fa fa-facebook"></i>
              <a class="rounded-3x" href="#">Like</a>
              <span class="counter">31,702</span>
            </li>
            <li>
              <i class="rounded-x tw fa fa-twitter"></i>
              <a class="rounded-3x" href="#">Follow Us</a>
              <span class="counter">164,290</span>
            </li>
            <li>
              <i class="rounded-x gp fa fa-google-plus"></i>
              <a class="rounded-3x" href="#">Add to circle</a>
              <span class="counter">5,425,764</span>
            </li>
          </ul>
        </div>
        <!-- End Social Shares -->

        <!-- Blog Thumb v2 -->
        <div class="margin-bottom-50">
          <h2 class="title-v4">Video yêu thích</h2>
          <% if current_user.present? %>
            <%current_user.user_videos.limit(5).each do |uv| %>
              <div class="blog-thumb blog-thumb-circle margin-bottom-15 " style="border-bottom: 1px dotted #e2e2e3;">
                <%= raw uv.url%>
              </div>
            <% end %>
          <% else %>
            <iframe src="https://www.youtube.com/embed/6fXEsroBpEU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/4Yhk1sXTNgU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/HKHYcTpHHmQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/AAWb6LQZl_Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/6fXEsroBpEU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/4Yhk1sXTNgU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/HKHYcTpHHmQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/AAWb6LQZl_Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          <% end %>
        </div>
        <!-- End Blog Thumb v2 -->
      </div>
    </div>
  </div>
</div><!--/wrapper-->
