<%= form_for([:admin, @rss], html: { class: "form-horizontal form-bordered form-control-borderless", style: "padding-top: 20px" }, remote: true) do |f| %>
<div class="form-group">
  <%= f.label :news_site_id, t("admin.news_site.name"), class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.select(:news_site_id, NewsSite.all.collect {|c| [c.name, c.id]}, {}, {class: "form-control"} ) %>
  </div>
</div>
<div class="form-group">
  <%= f.label :category_id, t("admin.category.name"), class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.select(:category_id, Category.all.collect {|c| [c.name, c.id]}, {}, {class: "form-control"} )
     %>
  </div>
</div>
<div class="form-group">
  <%= f.label :url, t("admin.rss_url.url"), class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :url, class: "form-control", placeholder: t("admin.rss_url.url") %>
  </div>
</div>
<div class="form-group form-actions">
  <div class="col-md-9 col-md-offset-3">
    <%= f.submit yield(:button_text), class: "btn btn-sm btn-primary" %>
    <%= link_to t("back"), admin_rss_urls_path, class: "btn btn-sm btn-success" %>
  </div>
</div>
<% end %>
