<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#list" data-toggle="tab"><%= t "admin.actions.list" %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="list">
      <div class="panel panel-red margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i><%= t "admin.news_site.all_news_site" %></h3>
        </div>
        <div class="panel-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th><%= t "admin.news_site.name" %></th>
                      <th><%= t "admin.news_site.url" %></th>
                  </tr>
              </thead>
              <tbody>
                <% @news_sites.each do |news_site|%>
                  <tr class="news_site-<%=news_site.id%>">
                    <td><%= news_site.id %></td>
                    <td><%= news_site.name %></td>
                    <td><%= news_site.url %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
