<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#list" data-toggle="tab"><%= t "admin.actions.list"%></a></li>
    <li>
      <%= link_to new_admin_user_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i><%= t "add_new" %>
      <% end %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="list">
      <div class="panel panel-red margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i> <%= t"admin.user.all_user"%> </h3>
        </div>
        <div class="panel-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th><%= t"admin.user.name"%></th>
                      <th class="hidden-sm">Email</th>
                  </tr>
              </thead>
              <tbody>
                <% @users.each do |user|%>
                  <tr class="user-<%=user.id%>">
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td class="hidden-sm"><%= user.email %></td>
                    <td>
                      <%= link_to edit_admin_user_path(user.id), remote: true, class: "btn btn-xs btn-default" do %><i class="fa fa-pencil"></i><%= t"admin.actions.edit"%><% end %>
                      <%= link_to admin_user_path(user), method: :delete, remote: true, data: {confirm: "Bạn chắc chắn muốn xóa ?"},
                        class: "btn btn-danger btn-xs" do %>
                          <i class="fa fa-trash-o"></i><%= t"admin.actions.remove"%>
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
