<!DOCTYPE html>
<html>
  <head>
    <title>SEW</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<div class="preloader themed-background">
    <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
	    <div class="inner">
	        <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
	        <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
	    </div>
	</div>
	<%if signed_in? %>
	<div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
	        <%= render "admin_pages/sidebar" %>
	    <div id="main-container">
	        <%= render "admin_pages/header" %>
        	<div id="page-content">
		     	<%=yield%>
		     </div>
	        <%= render "admin_pages/footer" %>
	   	 </div>
	</div>
	<%else%>
		<%= yield %>
	<%end%>
	<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
	<div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Modal Header -->
	            <div class="modal-header text-center">
	                <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
	            </div>
	            <!-- END Modal Header -->

	            <!-- Modal Body -->
	            <div class="modal-body">
	                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
	                    <fieldset>
	                        <legend>Vital Info</legend>
	                        <div class="form-group">
	                            <label class="col-md-4 control-label">Username</label>
	                            <div class="col-md-8">
	                                <p class="form-control-static">Admin</p>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-md-4 control-label" for="user-settings-email">Email</label>
	                            <div class="col-md-8">
	                                <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
	                            <div class="col-md-8">s
	                                <label class="switch switch-primary">
	                                    <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
	                                    <span></span>
	                                </label>
	                            </div>
	                        </div>
	                    </fieldset>
	                    <fieldset>
	                        <legend>Password Update</legend>
	                        <div class="form-group">
	                            <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
	                            <div class="col-md-8">
	                                <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
	                            <div class="col-md-8">
	                                <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
	                            </div>
	                        </div>
	                    </fieldset>
	                    <div class="form-group form-actions">
	                        <div class="col-xs-12 text-right">
	                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
	                            <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <!-- END Modal Body -->
	        </div>
	    </div>
	</div>
  </body>
</html>
