<!DOCTYPE html>
<html>
  <head>
    <title>SEW</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
	<div id="page-container">
	  <%= render "homes/header"%>	
    <%=yield%>
    <%= render "homes/footer"%>
    </div>	
  </body>
</html>
